.App {
  text-align: center;
  padding-top: 10px;
}

.app__form {
  padding: 20px;
  margin: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 90%;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  /* justify-content: space-between !important; */
}

.app__iconButton {
  flex: 0;
}

.app__input {
  flex: 1;
}
